@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
    font-family: "Aller";
    src: url(../fonts/Aller_Rg.ttf) format("opentype");
}

@font-face {
    font-family: "Aller";
    src: url(../fonts/Aller_Rg.ttf) format("opentype");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.logo-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 150px;
}

.logo {
    width: 205px;
    height: 77px;
}

.icon {
    margin-left: 200px;
}

.list-of-blocks {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


.navigathion-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigathion-menu li {
    display: inline-block;
    padding-right: 50px;
}

.navigathion-menu li a {
    width: 136px;
    height: 15px;
    color: #0c4669;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 900;
}

.navigathion-menu li a:hover {
    color: #aed3e4;
}

.mainBlock {
    background-color: #e6f0f5;
    max-width: 100%;
    width: 1846px;
    max-height: 100%;
    height: 942px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: #ffffff;
}



main {
    width: 100%;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.imagesMainBlock {
    width: 1840px;
    max-width: 100%;
    height: 100%; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bigImageMainBlock {
    margin: 24px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bigImage {
    max-width: 100%;
    width: 720px;
    height: 610px;
}

.threeImageMainBlock {
    margin: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.smallImageMainBlock {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.apartSmallImage {
    margin: 24px;
    margin-top: -0px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.halfSizeImageMainBlock {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 52px;
}

.smallImage {
    max-width: 100%;
    width: 311px;
    height: 269px;
}

.halfSizeImage {
    max-width: 100%;
    width: 669px;
    height: 269px;
}

.imageText {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: white;
}

.bigImageText {
    font-size: 50px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
}

.smallImagesText {
    font-size: 20px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
}

.linkMainBlock {
    width:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hoverBigImage {
    position: relative;/* */
    width:100%; /* */
    height: 100%; /* */ 
    overflow: hidden;
}

.hoverBigImage .bigImage {
    transition: transform .5s ease;
}

.hoverBigImage:hover .bigImage {
    transform: scale(1.5);
}

.hoverSmallImage {
    position: relative;
    width: 100%;
    height: 100%;
    height: 269px;
    overflow: hidden;
}

.hoverSmallImage .smallImage {
    transition: transform .5s ease;
}

.hoverSmallImage:hover .smallImage {
    transform: scale(1.5);
}

.hoverHalfSize {
    width: 100%;
    position: relative;
    height: 269px;
    overflow: hidden;
}

.hoverHalfSize .halfSizeImage {
    transition: transform .5s ease;
}

.hoverHalfSize:hover .halfSizeImage {
    transform: scale(1.5);
}


.overlay {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(12, 70, 105, 0.8);
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.footerBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: white;
}

.footerGeneralBlock {
    margin-top: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.footerInformation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 350px;
    height: 150px;
}

.siteLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    margin-top: 30px;
}

.pageLink {
    text-decoration: none;
}

.desctiprtionLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 30px;
}

.aboutUsLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 30px;
}

.contactsLink {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 30px;
    padding-left: 20px;
}

.siteLinkText {
    font-size: 35px;
    color: #1f2123;
    font-family: "Roboto";
    font-weight: 900;
}

.aboutUsLinkText {
    font-size: 20px;
    color: #1f2123;
    font-family: "Roboto";
    font-weight: 300
}

.footerNetworksLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 350px;
    height: 150px;
}

.footerIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /*background-image: url("../img/icons.png");*/
    /*background-repeat: no-repeat;*/
    height: 54px;
    width: 142px;
}

.facebookIc {
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    background-position-x: -4px;
    height: 54px;
    width: 46px;
}

.vkIc {
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    background-position-x: center;
    height: 54px;
    width: 46px;
}

.instIc {
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    background-position-x: -94px;
    height: 54px;
    width: 46px;
}

.contactInformation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 10px
}

.contactText {
    width: 214px;
    height: 46px;
    color: #1f2123;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    height: 20px;
    text-align: right;
}

.informationItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

